.form{
   margin-left: 20%;
   margin-right: 20%;
   padding: 10px;
}
.searchbar{
   margin-left: 5%;
   margin-right: 5%;
   padding: 15px;
}
.container{
   padding: 20px;
}
.baslik{
   background-color: antiquewhite;
   font-size: large;
   color:black;
   font-weight:bolder;
   text-align: left;
   padding: 15px 10px 10px 10px ;
}
.distance{
   padding-bottom: 10px;
}