.field {
    min-width: min-content;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    background-size: cover;
    justify-content: space-between;
    margin-bottom: 25px;
   
}


.form {
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 75em; */
    margin-left: 25%;
    margin-right: 25%;
  
}
.header{
    font-size: 150%;
    font-weight: bold;
    
}

